*{
    margin:0px;
    padding: 0px;
    outline:none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: .2s linear;

}


body{
    background-color: rgb(243, 236, 250);
}

header{
    position:fixed;
    top:0; 
    left: 0; 
    right: 0;
    background: #fff;
    padding: 15px 9%;
    border-radius: 3px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5px 1px rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

header .logo span{
    color:rgb(73, 18, 90)
}

header .navbar a{
    font-size: 30px;
    padding: 0 15px;
    color:#666;

}

section{
    padding: 15px;
}

.home{
    display: flex;
    align-items: center;
    min-height: 900px;
    background-image: url(Images/image.png);
    background-size: cover;
    background-position: center;
}

.home .info{
    max-width: 1000px;

}

.home .info h3{
    font-size: 100px;
    color:#333;
   
}

.home .content span{
    font-size: 30px;
    padding: 10px;
    line-height: 1.5;
}


