/*Name: Ariana Hrlic, Fiona Ang, Smriti Kohli
Author: Ariana Hrlic and Fiona Ang
Section: CST 8285 300_301
File: nav.css
Date: April 8, 2025
Description: This is a CSS file for Assignment2*/

/*CSS for header, nav, and the class nav-link*/
header, nav, .nav-link, header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    margin-left: 20px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

/*CSS for nav*/
header, nav {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    background-color: #EDE8DC;
}

header {
    gap: 500px;
}

/*CSS for anchors class nav-link*/
.nav-link {
    color: #707c5f;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    transition: transform 0.5s ease;
}

/*CSS for the anchor when hover*/
.nav-link:hover {
    color: #C1CFA1;
    transform: scale(90%);
}
