/*Name: Ariana Hrlic, Fiona Ang, Smriti Kohli
Author: Ariana Hrlic and Fiona Ang
Section: CST 8285 300_301
File: nav.css
Date: April 8, 2025
Description: This is a CSS file of the nav for Assignment2*/

/*CSS for header, nav, and the class nav-link*/
 .navbar1, .nav-link1, #header1 a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo{
    margin-left: 0;
    margin-right: 100px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/*CSS for nav*/
.navbar1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    background-color: #EDE8DC;
}

/*CSS for anchors class nav-link*/
.nav-link1 {
    color: #707c5f;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 0.1rem;
    margin-left: 15px;
    margin-right: 0.01rem;
    text-decoration: none;
    transition: transform 0.5s ease;
}

/*CSS for the anchor when hover*/
.nav-link1:hover {
    color: #C1CFA1;
    transform: scale(90%);
}